body{
    font-size: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0%;
    margin: 0%;
}

/* Student ID: 00013836 */


.empty{
    height: 7vh;
    width: 100%;
    background-color: aqua;

}
.header { /* main container of the header*/
    background-color:rgb(59, 13, 13) ;
    height: 15vh;
}

.main_layer{
    margin-top: 0.4rem;
     display: flex;
     justify-content: space-between;
}
.logo {
    padding: 0.5rem;
    height: 90px;
    width: 300px;
    max-width: 28%;
    background-color: aliceblue;
    opacity: 80%;
}

.nav_block {
    padding: 0.3rem;
    font-size: 2rem;
    margin-top: 0.6rem;
    max-width: 80%;
    z-index: 100;
}

.links {  /*links with default settings*/
    margin-top: 0.2rem;
    padding: 0.25rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    border-left: 0.4rem solid chartreuse;
    text-decoration: none;
    color: aliceblue;
}
.Home {
    color: chartreuse;
    text-decoration: underline;
    border-bottom: 0.2rem solid chartreuse;

}
.links:hover {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: chartreuse;
    text-decoration: underline;
    border-right: 0.2rem solid chartreuse;
    border-bottom: 0.2rem solid chartreuse;
    border-radius: 0.5rem;
    transition: 1s;
}

.line_footer_decor{
    border-top: 0.5rem solid rgb(122, 28, 28);
    height: 2vh;
    background-color: black;
    margin-bottom: 0%;
}
.footer {
    position: relative;
    left: 0%;
    bottom: 0%;
    background-color: black;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0%;
}

.name_of_company{
    color: white;
    font-size: 2rem;
}

.Footer_garena {
    height: 200px;
    margin: 1rem 2rem;
}
.Footer_garena:hover{
    height: 250px;
    margin: 1rem 3rem;
    transition: 1s;
}

.footer_links {
    margin-top: 0%;
    margin-right: 20%;
    padding: 0.2rem;
    justify-content: space-between;

}

.privacy_link:hover{
    width: 4rem;
    height: 3rem;
    font-size: 2rem;
    padding: 2rem;
    transition: 1.5s;
    background-color: rgba(14, 58, 58, 0.371);
}

.For_Parents:hover {
    width: 4rem;
    height: 3rem;
    font-size: 2rem;
    padding: 2rem;
    transition: 1.5s;
    background-color: rgba(14, 58, 58, 0.371);
}
.links_bottom {
    color: rgb(49, 204, 47);
    width: 4rem;
    padding: 1rem;
    margin: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: rgb(85, 16, 16);
}

/* ================================ */
.main_content {
    height: auto;
    background-image: url('../images/053.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.block_element{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    margin-left: 2%;
}

.list_of_games{
    height: 50px;
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.list_of_games .btn{
    box-sizing: border-box;
    height: 50px;
    width: 24.8%;
    background: linear-gradient(to right, red, green);
    color: antiquewhite;
    font-size: 1rem;
    margin: 0%;
    padding: 0%;
}

.box_settings{
    position: relative;
    left: 30%;
    height: 650px;
    width: 650px;
    background-color: blueviolet;
}

 .inputs_list input{
    width: 300px;
    height: 20px;
    color: black;
    margin-left: 2% ;
}
.inputs_list p {
    width: 300px;
    font-size: 1.2rem;
    color: aliceblue;
    margin-left: 2% ;

}
#final_code {
    margin-left: 2%;
    margin-top: 2%;
    font-size: 1rem;
    width: 400px;
    height: 50px;
}

.block_color{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    margin-left: 2%;
}

.result_size{
    display: block;
    background-color: black;
    margin-left: 2%;
    height: 100px;
    width: 100px;
}

.input_design{
    width: 300px;
    height: 20px;
    color: black;
    margin-left: 2% ;
}

#padding_block {
    margin-left: 2%;
    height: 200px;
    width: 200px;
    background-color: yellow;
}

#padding_block p{
    color: black;
    font-size: 2rem;
}

.changing_the_color div p{
    color: chartreuse;
    font-size: 2rem;
}

.contact_info{
    position: relative;
    left: 0%;
    height: 90vh;
    width: 100%;
    background-position: 40%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
#contact{
    font-size: 5rem;
    color: transparent;
    animation: occuring   2s  infinite 2s;
    cursor: pointer;
    z-index: 10;
}
.pattern{
    width: auto;
    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(to left, green, grey);
}
.pattern p {
    color: aliceblue;
    font-size: 2rem;
}
.pattern input{
    width: 100%;
    height: 25px;
}
@keyframes occuring {
    0%, 30%, 45%, 60%, 75%, 90%{
        color: chartreuse;
        font-size: 4.8rem;
        
    } 
    10%, 40%, 50%, 70%, 80%, 100%{
        color: aquamarine;
        font-size: 5.2rem;

    }
}

/* Media query for mobile phones */

@media all and (max-width: 500px){
    .header{
        height: 400px;
        width: 100%;
    }
    .logo{
        margin-top: 50px;
        height: 20px;
    }
    .nav_block {
        margin-top: 50px;
        display: flex;
        flex-direction: column;

    }
    .nav_block a{
        max-width: 70%;
    }
    .warning{
        box-sizing: content-box;
        max-width: 1024px;
        min-width: 700px;
    }
        /* Footer */
    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 90vh;
    }
    .name_of_company{
        margin-left: 10%;
    }
    .footer_links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    /* Main content */
    /* ******************** */
    .main_content{
        height: 140vh;
        width: auto;
        padding: 2px;
    }
    .list_of_games{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .list_of_games .btn{
        box-sizing: border-box;
        width: 25%;
    }
    .box_settings{
        margin-left: 2%;
        margin-right: 4%;
        margin-top: 2%;
        margin-bottom: 2%;
        position: relative;
        left: 1%;
        top: 1%;
        right: 1%;
        bottom: 1%;
        width: auto;
        height: auto;
    }

}

/* =============================== */
/* Media query for tablets */
@media all and (max-width: 1400px) and (min-width: 500px){
    *{
        width: 100%;
    }
    .header{
        height: 400px;
        width: 100%;
    }
    .logo{
        margin-top: 20px;
        margin-left: 1%;
        height: 60px;
    }
    .nav_block {
        margin-top: 20px;
        max-width: 500px;
        display: flex;
        flex-wrap: wrap;

    }
    .nav_block a{
        width: 100px;
        margin: 5%;
    }
    .warning{
        box-sizing: border-box;
        width: 100%;
    }
       
    .footer {
        max-width: 100%;
        box-sizing: border-box;
        display: flex;
        height: 20vh;
    }
    .footer_logo{
        width: 300px;
    }
    .name_of_company{
        margin-left: 8%;
    }
    .footer_links {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* main content */
    /* *********************/
    .main_content{
        height: auto;
    }
    .list_of_games{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .list_of_games .btn{
        box-sizing: border-box;
        width: 25%;
    }
    .box_settings{
        margin-left: 2%;
        margin-right: 4%;
        margin-top: 2%;
        margin-bottom: 2%;
        position: relative;
        left: 1%;
        top: 1%;
        width: auto;
        height: auto;
    }
}